$theme-palette-default: #bdbdbd;
$theme-palette-primary: #303f9f;

$theme-palette-values: (
  default: $theme-palette-default,
  default-darken-less: darken($theme-palette-default, 8),
  default-darken-more: darken($theme-palette-default, 14),
  default-contrast-text: #000,
  primary: $theme-palette-primary,
  primary-darken-less: darken($theme-palette-primary, 8),
  primary-darken-more: darken($theme-palette-primary, 14),
  primary-contrast-text: #fff,
  success: #4caf50,
  error: #f44336,
  divider: rgba(0, 0, 0, 0.12),
  background: #fafafa,
  background-paper: #fff,
  text-primary: rgba(0, 0, 0, 0.87),
  text-secondary: rgba(0, 0, 0, 0.54),
  text-disabled: rgba(0, 0, 0, 0.38),
  text-hint: rgba(0, 0, 0, 0.38),
  action-active: rgba(0, 0, 0, 0.54),
  action-hover: rgba(0, 0, 0, 0.08),
  action-selected: rgba(0, 0, 0, 0.14),
  action-disabled: rgba(0, 0, 0, 0.26),
  action-disabled-background: rgba(0, 0, 0, 0.12)
);

$theme-shape-border-radius: 2px;

$theme-breakpoints-values: (
  xs: 0,
  sm: 600px,
  md: 960px,
  lg: 1280px,
  xl: 1920px
);
